* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.text {
  font-size: 22px;
  line-height: 3;
  font-weight: bold;
}

.text1 {
  text-shadow: 17px 19px #a3a1a1;
}

.text2 {
  text-shadow: 17px 19px 3px #a3a1a1;
}

.text3 {
  text-shadow: 7px 9px 3px #ce0000, -7px -9px 3px #3e47af;
}

.text4 {
  color: #e5d166;
  text-shadow: 0px -1px #000, -1px 0px #787777;
}

.text5 {
  text-shadow: 1px -1px 1px #948843;
  color: #b5a75b;
}

.text6 {
  text-shadow: 1px -1px #000;
  color: #b5a75b;
}

.box1 {
  float: left;
}

.box2 {
  float: right;
}

.clear {
  clear: both;
}

.block {
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 80px;
}

.block1 {
  box-shadow: 15px 19px #8f8d8d;
}

.block2 {
  box-shadow: 15px 19px 4px #8f8d8d;
}

.block3 {
  box-shadow: inset 3px 4px 6px 0px #1a1ad2, inset -3px -2px 10px 0px #ce0000;
}

.grad {
  width: 300px;
  height: 150px;
  border: 1px solid #000;
  margin-bottom: 40px;
  margin-right: 30px;
}

.grad1 {
  background: linear-gradient(
    to right,
    rgb(235 12 63) 6%,
    rgb(185 34 180) 16%,
    rgb(0 72 205) 40%,
    rgb(62 0 247 / 58%) 70%,
    rgb(247 242 243) 86%,
    rgb(215 19 64) 100%
  );
}

.grad2 {
  background: linear-gradient(
    to bottom,
    rgb(255 0 0) 31%,
    rgb(255 255 255) 33%,
    rgb(255 255 255) 70%,
    rgb(255 0 0) 71%
  );
}

.grad3 {
  background: radial-gradient(
    circle at center,
    rgb(0 232 243) 5%,
    rgb(21 179 239) 42%,
    rgb(9 152 235) 49%,
    rgb(9 135 243) 100%
  );
}

.grad4 {
  background: radial-gradient(
    circle at 28px 31px,
    rgb(127 240 245) 2%,
    rgb(21 179 239) 12%,
    rgb(9 152 235) 14%,
    rgb(9 135 243) 100%
  );
}

.grad5 {
  background: radial-gradient(
    circle at center,
    rgb(10 10 10) 4%,
    rgb(255 255 255) 12%,
    rgb(255 255 255) 17%,
    rgb(8 137 29) 22%,
    rgb(44 118 6) 100%
  );
}

.box3 {
  display: flex;
}
