body {
  padding: 30px;
}

.block {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.content {
  width: 50%;
  padding-top: 30px;
}

.text {
  text-transform: uppercase;
  text-align: center;
}

.parag {
  text-transform: lowercase;
  text-indent: 20px;
}

.name {
  width: 100%;
}

.btn {
  background-color: #daa520;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.4s;
  margin: 16px 0;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b8860b;
}
